<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>part0000</title>
    <meta content="abbyy to epub tool, v0.2" name="generator"/>
    <link href="stylesheet.css" type="text/css" rel="stylesheet"/>
    <meta content="application/xhtml+xml; charset=utf-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <div class="body">
      <p class="illus">
        <img src="images/picture0.jpg" alt="picture0"/>
      </p>
      <p class="illus">
        <img src="images/picture1.jpg" alt="picture1"/>
      </p>
      <div class="pages" id="pages"/>
      <p></p>
      <p class="illus">
        <img src="images/picture2.jpg" alt="picture2"/>
      </p>
      <p></p>
      <p> sw</p>
      <p> 0-</p>
      <p> lA</p>
      <p> IRPTflin FUTURE-mun if Innnrrnui</p>
      <p> ^</p>
      <p> CASH</p>
      <p> PRIZES</p>
      <p> \ GIVEN</p>
      <p> DOHTVARE</p>
      <p> '   «.S5  THE ■irSA^CT STDOY OF...</p>
      <p> , HELLO, BoB-HAVE You  found ihatUNDERSEAS  TREASURE?,</p>
      <p class="illus">
        <img src="images/picture3.jpg" alt="picture3"/>
      </p>
      <p> BOYS! GIRLS)</p>
      <p> LADIES!</p>
      <p> MEN!</p>
      <p> "enrovGflg^PREM/Um!</p>
      <p class="illus">
        <img src="images/picture4.jpg" alt="picture4"/>
      </p>
      <p> OUR S9"YEAR - WE ARE RELI ABLE!  M AIL *</p>
      <p> Potle coupon on poiioi cord or mall</p>
      <p class="illus">
        <img src="images/picture5.jpg" alt="picture5"/>
      </p>
      <p> 'tUCKOO CLOCK"</p>
      <p class="illus">
        <img src="images/picture6.jpg" alt="picture6"/>
      </p>
      <p> meat</p>
      <p class="illus">
        <img src="images/picture7.jpg" alt="picture7"/>
      </p>
      <p class="illus">
        <img src="images/picture8.jpg" alt="picture8"/>
      </p>
      <p> SUM</p>
      <p class="illus">
        <img src="images/picture9.jpg" alt="picture9"/>
      </p>
      <p class="illus">
        <img src="images/picture10.jpg" alt="picture10"/>
      </p>
      <p class="illus">
        <img src="images/picture11.jpg" alt="picture11"/>
      </p>
      <p class="illus">
        <img src="images/picture12.jpg" alt="picture12"/>
      </p>
      <p class="illus">
        <img src="images/picture13.jpg" alt="picture13"/>
      </p>
      <p> ANPWEEK AFTER WEEK....UNTIL?</p>
      <p class="illus">
        <img src="images/picture14.jpg" alt="picture14"/>
      </p>
      <p class="illus">
        <img src="images/picture15.jpg" alt="picture15"/>
      </p>
      <p> oh sob! for weeks I've been bruisep, beaten anp batterep! I'VE SPENT  a fortune on foop for</p>
      <p> THAT FOOI PIPN'T HAVE A PECENT</p>
      <p> NIGHT'S SLEEP.... ANP I WINP    UP WITH A LOVESICK FIGHTER WHO WON'T FIGHT!</p>
      <p class="illus">
        <img src="images/picture16.jpg" alt="picture16"/>
      </p>
      <p class="illus">
        <img src="images/picture17.jpg" alt="picture17"/>
      </p>
      <p> YOU'LL BE THE ENVY YOUR FRIENPS WHEN THEY SEE THIS SWELL I95S  PIN-UP CALENPAR..' BUT    HURRY.*    THE   SUPPLY IS LIMITEp;</p>
      <p> JUST FILL OUT THIS  COUPON</p>
      <p> KIPS.'    PRINT LEGIBLY.'   THEN CUT IT OUT AND SENP IT TO US WITH 25^ IN COIN...3^ IN CANAPA</p>
      <p> IS ON ITS WAY/</p>
      <p> IT'S A REAL JUMBO-SIZED  COMIC BOOK. WITH   BRANP-NEW,</p>
      <p> ORIGINAL    STORIES.' AB SOLUTELY   NO  RE-PRINTS.'</p>
      <p class="illus">
        <img src="images/picture18.jpg" alt="picture18"/>
      </p>
      <p> THE ALL-NEW   ARCHIE ANNUAL *6 WILL BE REAPY   SOMETIME   IN   JUNE, BUT BY MAILIN&amp; THIS COUPON IN    NOW,  *YOU WILL RECEIVE  THE ANNUAL BEFORE   IT HITS THE STANPS.'</p>
      <p> MAJt Id l S &gt; _ c °ff PN.-ALON.G_ WITH _25i/ssON_»NA«Vro: ARCHIE  ANNUAL*6</p>
      <p> ROOM 60S,  241  CHURCH ST, NEW YORK 13, N.Y GENTLEMEN: ENCLOSED PLEASE FINP 2S&lt; IN  C0In(s5&lt;*IN CANAPA) FOR WHICH YOU WILL SENP ME THE NEW ARCHIE ANNUAL # 6 AS SOON AS IT COMES OFF THE PRESS, PLUS THE 4-COLOR I95B PIN-UP CALENPAR AS A SPECIAL BONUS</p>
      <p class="illus">
        <img src="images/picture19.jpg" alt="picture19"/>
      </p>
      <p> ROYAL GREETING:</p>
      <p class="illus">
        <img src="images/picture20.jpg" alt="picture20"/>
      </p>
      <p class="illus">
        <img src="images/picture21.jpg" alt="picture21"/>
      </p>
      <p class="illus">
        <img src="images/picture22.jpg" alt="picture22"/>
      </p>
      <p class="illus">
        <img src="images/picture23.jpg" alt="picture23"/>
      </p>
      <p class="illus">
        <img src="images/picture24.jpg" alt="picture24"/>
      </p>
      <p class="illus">
        <img src="images/picture25.jpg" alt="picture25"/>
      </p>
      <p class="illus">
        <img src="images/picture26.jpg" alt="picture26"/>
      </p>
      <p class="illus">
        <img src="images/picture27.jpg" alt="picture27"/>
      </p>
      <p> WWk.lii^/,</p>
      <p> COMPLETE BAFFLING MAGIC OUTFIT</p>
      <p> 20 First Class Illusions    -*</p>
      <p> &gt;s</p>
      <p> •tfQffifc</p>
      <p> 1</p>
      <p> ROPE  TRICK—Cut half, yet  il is si one piece and other sur prises—yours only this offer</p>
      <p> lh</p>
      <p class="illus">
        <img src="images/picture28.jpg" alt="picture28"/>
      </p>
      <p> With it you read cards, without even looking at them.</p>
      <p class="illus">
        <img src="images/picture29.jpg" alt="picture29"/>
      </p>
      <p> FLYING   QUARTER   — Here's one you can do over and over again and make  all   the   guessers</p>
      <p> look foolish.</p>
      <p> Now the lop secrets of 20 professional magic tricks are yours to entertain and amaze your friends and make you popular. With this outfit you get 20 exclusive tricks and the secret knowledge of how to easily perform them all for only $1,00.</p>
      <p> You Alone Will Know These Revealing Secrets</p>
      <p> Imagine, by just waving your magic wand and shouting a tew magic words you will be able to make things disappear and reappear . . . imagine your friends and mother and dad all being fooled, surprised and amazed. You'll hold them spell-bound. They will just sit   open   mouthed   with   wonderment.</p>
      <p> and   thril</p>
      <p> hidden secrets will be yours, never to reveal. Follow the simple directions and   no   one   will   ever   catch   on.</p>
      <p> No Experience Necessary</p>
      <p> The illustrated instructions furnished are so simple you will master all these tricks at once. It's fun practicing too ... for here you have a short cut to magic learning that starts you do-tricks right away. You can't go | . , . it's as easy as A. B, C's AND ... the set of 20 exclusive s is almost a gift at this limited price of  St.00.</p>
      <p> I'l.Vrli.'UlilL'l</p>
      <p> You'll agree this 20 piece Magic Set worth much more than our bargain ce of $1.00; and it is. We want new friends for our other novelty bargains. We want you to try the set. follow the instructions and if not 100% delighted, return it after 10 days free trial for prompt refund of your dollar. Act at once. Sorry, only three to a customer.</p>
      <p class="illus">
        <img src="images/picture30.jpg" alt="picture30"/>
      </p>
      <p> ALL  THESE 20 TRICKS INCLUDED</p>
      <p> CUT AND RESTORED ROPE FAMOUS PADDLE TRICK RING ON STRING VIS-ESCAPE MAGIC PINS RING AND COIL GRAVITY DEFYER MAGIC MIRROR</p>
      <p> And  special  illustrated</p>
      <p> HORSE AND RIDER CHINESE LAUNDRY TICKET MIRACLE COIN TRICK QUESTION MARK GRAPPLES TWISTER TRICK MASTER CARD LOCATION PLUS 5 CUT-OUT TRICKS secret  instruction  booklet.</p>
      <p> RUSH  COUPON-MONEY BACK GUARANTEE -</p>
      <p> Honof House Products Corp. Oept. 364-M</p>
      <p> 836 Broadway. Now York 3, N. Y.</p>
      <p> Rush my Baffling Magic Outfit on approval for only</p>
      <p> $1.00. If I am not completely satisfied I may return</p>
      <p> it after 10 days free trial for prompt refund of full</p>
      <p> purchase price.</p>
      <p> Address  ——.</p>
      <p> Q Send C.0.0. t will pay postman $1 on delivery</p>
      <p> plus a few cents postage. O I enclose $1 for my MAGIC OUTFIT. The Honor</p>
      <p> House Products  Corp,  will  pay  postage. Same</p>
      <p> money back guarantee.</p>
      <p class="illus">
        <img src="images/picture31.jpg" alt="picture31"/>
      </p>
      <p class="illus">
        <img src="images/picture32.jpg" alt="picture32"/>
      </p>
      <p> ERROL SWOOto</p>
      <p> I HATE THAT MOVIE  IDOL/</p>
      <p class="illus">
        <img src="images/picture33.jpg" alt="picture33"/>
      </p>
      <p> y y    ^,</p>
      <p> WQtWWAY-HOLlYmo®  WIRE</p>
      <p> BROADWAY.- — The little Parisian dancer* Leslie Caron. is all excited. For one thing, she ran away with exciting notices following the opening of her New York stage debut in Roland Petit's Ballet de Paris; and next, she is happy that her picture, "Lili" — has been selected as a 1953 '"best" on most of the ""10 Best" lists, and she herself has been named several times as a ""best Actress." But to go on from there, when Edwin II. Knopf—producer of ""Lili"—was recently in New York, she learned that he is to produce her next picture. "The Glass Slipper." the story of Cinderella, with tile screen play by Helen Deulsch. who wrote the screen play of "Lili." .More news is that for the palace ball scene, the studio is planning one of the most spectacular ballet sequences ever filmed. So it"* "Hi Lili. Hi Lili. Hi Lo. Hi Leslie!"</p>
      <p> FRIGID ZONE DISPATCH: Dewey Martin, featured in "Tennessee Champ." tells about the eskimo's reply to his jealous wife. "I do NOT close my eyes and imagine Fm rubbing noses with Marilyn Monroe."</p>
      <p> HARD ON SOLF MATES:—Gene Kellv figures that the six dances he will do in the forthcoming musical. "Brigailonn." will give him a total of 77 dance numbers since he came to Hollywood eleven years ago. Figuring, as he does, an average of six weeks rehearsing per picture, thai adds up to just a week short of a year and a half of dancing. Hum . . a year and a half holding in his arms such bundles of pulchritude as Cyd Charise. Leslie Caron. Vera-Ellen and Rita Haywnrtli. I ley! Should the man complain?</p>
      <p> HOLLYWOOD BLYD: — Lucille Ball, co-starring with Desi Arnaz in the comedy. "The Long, Long Trailer," says she knows a girl who wants to marry a sailor and rear admirals.</p>
      <p> BEVERLY HILLS: — Desi Arnaz, co-starring with Lucille Ball in "The LonK, Long Trailer." says that when the picture was finished he fell like the fellow who bought a house trailer so he'd have a place to live while looking for a place to park.</p>
      <p> DEPT. OF CONFUSION:—Blond Lana Turner has gone and went brunette for her forthcoming picture, "Flame and the Flesh" and "Betrayed." Brunette Kathryn Grayson turned redhead for "Kiss Me Kate," Ann Blyth a natural brunette in "Rose Marie" becomes a blond for "The Student Prince." And platinum-gold Jane Powell turns brunette for "Seven Brides for Seven Brothers." Everybody feel all right?</p>
      <p> THE FARMERS DAUGHTER: — Kce-nan Wynn was  telling  the story of the farmer's daughter to Shelley Winters during the filming of "Tennessee. Champ." "You see," Keenan began, "the farmer said. 'Daughter, come in the house, I see a traveling salesman coming down the road.' The Farmer's Daughter replied. 'That ain'l no salesman, pa—that's a deer hunter.' 'Well.' "grunted the farmer," 'come in the house and bring the cow with you.'"</p>
      <p> CULVER CITY, CALIF:—News here is that as a result of hid successful starring debut in "The Student Prince," Edmund Purdom will be given what is known as a terrific concentrated build-up. He is penciled in for a co-starring role with Ava Gardner in "The Prodigal." but to precede that on the shooting schedule he will star with Jane Powell in "Athena," a comedy with music, and following that, will star in "The King's Thief," playing a highwayman who says "Stand and deliver!" in the times of Charles II.</p>
      <p> land during the summer to star in "Highland Fling" adapted from the hilarious best-selling novel, "Digby." . . . Recommended reading: "Deep Currents." a potpourri of .short stories by William Ornstein. . . . Bessie Love, famed star in first Academy Award winning musical. "Broadway Melody of 1939," returns to the screen for a role in "Beau Brummell" with Elizabeth Taylor and Stewart Granger, now being filmed in England. . . . Bert Lahr, in "Rose Marie," announces, "A bridegroom is a wolf who  is paying off for his  whistles."</p>
      <p> SANTA MONICA BLVD: — Howard Keel, next to be seen in "Rose Marie," tells about a Hollywood motorcycle cop who stopped a male star, then spouted most of the traffic code—and the violations he had committed verbatim. "Very good," sneered the actor, "and how are you on the Gettysburg address?" The actor was fined four score and seven bucks.</p>
      <p> NOTICE:—In case you find a mistake in this column, please remember that it was put there for somebody's benefit. We try to please everybody, and some people are  always looking for mistakes.</p>
      <p> JOTS  AND DOTS: — Walter Pidgeon, who scored in "Executive Suite" gets a wonderful role as Elizabeth Taylor's father in "Babylon Revisited," from the F. Scott Fitzgerald story. . . . Esther Williams reported to the Studio this week to begin water routine rehearsals for "Jupiter's Darling," and there's a rumor that there will be twelve elephants in the routine . . . "Dianne De Poytiers," John Erskine's unfinished manuscript based upon the life of the lady who ruled the heart of Henri II of France, will be an important all-star picture. . . . Stewart Granger and Grace Kelly will co-star in "Green Fire," a story of the South American emerald mines. . . . Robert Taylor, Eleanor Parker and the "Valley of the Kings" company moved to Playa del Rey for several days filming since their two month's shooting on location in Egypt. . . . Spencer Tracy leaves for Scot-</p>
      <p> Love Runs Rampant on Warner Lot</p>
      <p> BURBANK, Calif. — A boy-rhases-girl scene that used four movie sets and started on one sound stage and ended on another was filmed this week by director Jack Don* ohue for the CinemaScope production "Lucky Me."</p>
      <p> Various locations of the sets for romantic pursuit made the four-stop gallop necessary.</p>
      <p> The flight of Doris Day from the arms of Robert Cummings started in a hotel kitchen set on Stage 12, moved to an adjoining alleyway on the same stage, then while runners caught their breaths, Dono-hue shifted the company to a* park on the back lot where sturs hurdled hedges and circled trees. Race wound up at a swimming pool on Stage 22—where Cummings catches her.</p>
      <p> *    •    *</p>
      <p> Former   Film   Stars Create Atmosphere</p>
      <p> BURBANK, Calif. — In past years in Hollywood, working as an extra player unregarded as one of the first steps toward stardom. Now, extra ranks have become more a field for former stars than for hope-ful beginners.</p>
      <p> Among a group of 400 atmosphere players called to work in a crowd scene for "A Star Is Born," CinemaScope musical co-starring Judy Garland and James Mason, were such one-time silent screen greats as Franklyn Farnuni, Jaek Perrin, Gertrude Astor, Jack Mower. Philo MeCulIough. Creighton Hale and Nina Canard.</p>
      <p class="illus">
        <img src="images/picture34.jpg" alt="picture34"/>
      </p>
      <p class="illus">
        <img src="images/picture35.jpg" alt="picture35"/>
      </p>
      <p class="illus">
        <img src="images/picture36.jpg" alt="picture36"/>
      </p>
      <p class="illus">
        <img src="images/picture37.jpg" alt="picture37"/>
      </p>
      <p> |«6»</p>
      <p> WORD LADDER</p>
      <p> I  ©an  yoo  go</p>
      <p> FROM C/»if TOBWU.</p>
      <p> CHANGING-ONE  LETTER EACH STEP?</p>
      <p> Y1V8-S 3W8-V/5-3TVH-S =nvH-2</p>
      <p> ?AN YOO F/MD TOE AREA H//TH AM  ODD NU/ftBER. THAT IS NOT TOUCHING- AN  EVEN  NUMBER  f</p>
      <p> DOOUKNOW  ••&gt;</p>
      <p> ••A MAN ALL WRAPPED OP IN HIMSELF MAKES A SMALL PACKAGE . •• LOVE MAKES THE WORLD GO AROUND BUT SO DOES A SWU.LOW OF TOBACCO JUICE. "AN EXAMINATION IS A TEST ON THE THINGS "iWJ KNEW VDU DIDN'T KNOW. SOSSESTSO 8y- MARIA TARINT1NO, CHIC AGO, ILL.</p>
      <p class="illus">
        <img src="images/picture38.jpg" alt="picture38"/>
      </p>
      <p> WHA7&amp; THE MESSAGE?</p>
      <p> Cross out all the  even numbers and the message will appear.'</p>
      <p> 370HA3M</p>
      <p> 3HI HSnOUHl SNVI33J</p>
      <p> HOBHBI3N A3SON</p>
      <p class="illus">
        <img src="images/picture39.jpg" alt="picture39"/>
      </p>
      <p class="illus">
        <img src="images/picture40.jpg" alt="picture40"/>
      </p>
      <p> ,*      #      LADIES'</p>
      <p> 20 DRESSES</p>
      <p> V</p>
      <p class="illus">
        <img src="images/picture41.jpg" alt="picture41"/>
      </p>
      <p> ^..Ladies</p>
      <p> 'fjBLOUSES' 39c each 5  for $1.69</p>
      <p> QUILT i PIECES .3 lbs. $1.49</p>
      <p> BIG DRESS SALE</p>
      <p> ASSORTED  in  Silk,  Wool,</p>
      <p> Cotton    &amp;     Rayon</p>
      <p> ALL   SIZES   in   Good   Condition</p>
      <p> BUT NO LESS THAN 20 DRESSES</p>
      <p> AT THIS BARGAIN PRICE</p>
      <p> LadiesN SKIRTS\ 69c  each  ' for $1.791</p>
      <p> W.th   15 00   O/d..   or  Mo&lt;*</p>
      <p> MONEY BACK rf NOT SATISFIED fl 00 Dtpoi.t MUSI com*.  -,tli oidrr   Von</p>
      <p> COD *nd pMUn chttn NO ORDER ACCEPTED fOR LESS THAN J3 00 A TRIAL ORDER WILL CONVINCE YOU Of OUF. WONDERFUL BARGAINS</p>
      <p> Ladies' SHOES</p>
      <p class="illus">
        <img src="images/picture42.jpg" alt="picture42"/>
      </p>
      <p> ^RUMMAGf .20 Pieces</p>
      <p> iorSj.19"</p>
      <p class="illus">
        <img src="images/picture43.jpg" alt="picture43"/>
      </p>
      <p> F99c pair fl  (or S2.69  {</p>
      <p> '  Good     qu Lc.lhrn</p>
      <p> Ladies</p>
      <p> COATS* TOPPERS</p>
      <p> $1.29  each.</p>
      <p> 2 for$2.39</p>
      <p> Ladies' WEATERS^ J?9c  each 3 for $2.69</p>
      <p> Ladies SLIPS 49c each 15  for $2.29</p>
      <p> i</p>
      <p> ORDER NOW</p>
      <p class="illus">
        <img src="images/picture44.jpg" alt="picture44"/>
      </p>
      <p> ORDER NOW fOR BEST SELECTION</p>
      <p class="illus">
        <img src="images/picture45.jpg" alt="picture45"/>
      </p>
      <p class="illus">
        <img src="images/picture46.jpg" alt="picture46"/>
      </p>
      <p> TURTLES GIVEN AWAY</p>
      <p> WITH THIS OFFER</p>
      <p> Here's one of the most exciting toys you've ever owned. Just think — a boby turtle all your own. What's more, a real growing garden to keep him in, a garden you plonl and grow all by yourself. You can teach him to recognize you when you feed him. Watch him swim — see how he pulls his head and feet into his shell when he's frightened. You can have turtle races — you can moke a little house for him to live in — and all</p>
      <p> a*         -■  the time you tan walch how the lovely, soft gross</p>
      <p> "V\   grows — see and smell the beautiful flowers. You'll</p>
      <p> ^"""v "^ J   omoze your friends with how much you know about</p>
      <p> «  \ --^*r-       animals and olonts</p>
      <p> EVERY BOY AND GIRL LOVES THESE  CLEAN  -LITTLE  PETS.  DELIVERED  HEALTHY  ANDl SAFE IN A SPECIAL MOSS-PROTECTED [ PACKAGE.</p>
      <p> MAGIC ROCK GARDEN</p>
      <p> Grows Real Grass</p>
      <p> &amp; Flowers in 4 Days</p>
      <p class="illus">
        <img src="images/picture47.jpg" alt="picture47"/>
      </p>
      <p> Everything You Need</p>
      <p> lev  get all than</p>
      <p> ■ cu   don'l   need  anything .  Plcnly ol Magic a  ie*di .       Bogie uit,</p>
      <p> lovely  fin-nit  tetdt . .</p>
      <p> f'odnol at'iattxe</p>
      <p> (onlointi  .   .  .  Bright tolaitd</p>
      <p> lal buittifly . . . Amenta</p>
      <p> Flag .  .   . Paroiol that openi qprf dam . . . Simulated radii   Plan)  laad   Man r ' exiling feolutei</p>
      <p> 10 DAY TRIM FREE!</p>
      <p> Oept.    3 62-G</p>
      <p> A  real  growing  Rock  Garden  — about square inches of sweet grass and bright lovely I flowers -</p>
      <p> ■Honor House Products Corp. 100 j35Witt)uT ST. LyrtrooMlY</p>
      <p> ■ Ruth my Rati Garden and IWl baby turtle at ant*. It I em</p>
      <p> for you to cor'e for. When the flowers |«* ««"P»«»tif «^(W i may ,*i,.„ the prion (or p.omot</p>
      <p> ',.       . . .  ..       'refund  at   the   lull   putthoi*  piite.   ond   I   may  leep  Iht</p>
      <p> grow you con pluck a bouquet for your mother _ wt((    HWlumT    FUE .   fU(t    „  u. n</p>
      <p> or friend. When the grass grows too high you I</p>
      <p> will have to cut and trim it. And all the time | : j E«d«itd f&gt;nd  I   ■'■ luit pojmeni.</p>
      <p> you will have a beautiful garden you con be     q  s (ft d coo in pay poiiman, ptm r.o.o. fee on delivery. proud of ond show off to your Iriends. You'll learn many useful things, | too — it will  even  help you  understand many things they teach at schooT ■</p>
      <p> ■NJIWf </p>
      <p> |aooress_</p>
      <p class="illus">
        <img src="images/picture48.jpg" alt="picture48"/>
      </p>
      <p> A NOTE. YET I STARTED PLAYING WHOLE PIECES</p>
      <p> RIGHTAWAY!</p>
      <p> Wonderful, Easy Way to Learn Enables You To</p>
      <p> PLAY REAL MUSIC</p>
      <p> A/most Ovem/gAtf</p>
      <p> EVEN IF YOU DON'T KNOW A SINGLE NOTE OF MUSIC NOW!</p>
      <p> Yes, it's TRUE! In just a few weeks, you can be playing REAL MUSIC on  your favorite instrument. Not by just a "trick" method that merely  seems  to teach you music. But 'really  reading  and  playing actual sheet music—so easily and confidently that your friends will suspect that you've actually "known how" for years!</p>
      <p> THOUIAHDI   NOW   PLAY</p>
      <p> Who N.*.r Thought</p>
      <p> jh»y  Cooler</p>
      <p> Mather Fulfill) Dttire</p>
      <p class="illus">
        <img src="images/picture49.jpg" alt="picture49"/>
      </p>
      <p> §L</p>
      <p> C week, ™ could P1»Y pieces a friend couldn't who look lessons lor d_ vi-«ts from a teacher. — Mrs .J. L.  Newton. Louts-</p>
      <p> Orchtitra Le»d(l Got Hi* SUrl "I      BOt      nw</p>
      <p> with     you r Course.        How</p>
      <p> $</p>
      <p> ■W*.</p>
      <p> Friends "In   a   few</p>
      <p> amazed, cspe-  " '  . . dally friend* who had lino lemons for years »nd whom It took 6 months to » year to  piny  simple  Picr«- —</p>
      <p> j    P   Pen</p>
      <p> .   W    Vu.</p>
      <p> TVTO TEDIOUS PRACTICING OF *■' BORING SCALES AND EXERCISES REQUIRED. Even if you don't know a single note now, you'll "start right in on pieces." This builds up your skill and confidence so rapidly that soon you'll be able to play ALL your favorite songs and compositions  by note.  It's all so clearly explained- so EASY to understand-that even children "catch on" at once.</p>
      <p> No  Special  "Talent" Needed No wonder OVER 900,000 PEOPLE nil over the world have turned to the U. S. School of Music method to make their dreams of playing music come true! No special "talent" is needed. And you learn right at home, in the spare time of YOUR OWN CHOOSING-free from the rigid schedule imposed by a teacher. Costs only a few cents per lesson, including sheet music-Why  Keep  on    Missing  These  Joys?</p>
      <p> Why not let this famous home-study method bring the many pleasures of music into YOUR life? Good times! New friends. Gay parties. Extra money from playing or teaching. Possibly even a brilliant QLwCel career. Best of all, the deep  personal  satis-</p>
      <p> faction   of  being  able  to  make  your  own music—provide your own entertainment.</p>
      <p class="illus">
        <img src="images/picture50.jpg" alt="picture50"/>
      </p>
      <p> Ineedoo*</p>
      <p> «</p>
      <p> %    Let  us  SHOW   you  wh</p>
      <p> tf     to learn music is so EASY- anil s</p>
      <p> and  Free   lelion-Sample</p>
      <p> much fun! See for yourself why c lethod has been so successful for 56 years. Mail the coupon below for our valuable .10-poce FREE BOOK - and free Lesson-Somple which you con try out right nt home. No obliRB'</p>
      <p> V il! call &lt;</p>
      <p> . It</p>
      <p> no much  to you for the rest of yoi -if you will moil the coupon TODAY! U. S. School of Musk, Studio  T*1Z.  Port Washington, N.   Y.    (Special   Reduced  Prices on   instrument!</p>
      <p> dfoy-3</p>
      <p> Of  THIS!  NIW   MASTERPIECES   &lt;</p>
      <p> SCIENCE-FICTION</p>
      <p> v'^f      ^m      with       A * ^m   MiMiiaiHip (r%</p>
      <p class="illus">
        <img src="images/picture51.jpg" alt="picture51"/>
      </p>
      <p class="illus">
        <img src="images/picture52.jpg" alt="picture52"/>
      </p>
      <p> TMAGINE - ANY THREE of -* these rocket-swift, jet-propelled SCIENCE-FICTION book* - your* for only $1.00!</p>
      <p> Each one is crammed with science thrills of the future . . . packed with tin' imagination that will make tomorrow's headlines . . written by the most sought-after science-fiction writers of today. A $7.50 to $9.00 value, complete and in handsome permanent bindings-but yours for only $1.00 on this amazing offer.</p>
      <p> i ton, 43  top  itorles by outstanding authors . . stories ot   visitor*   from   Outer   Space</p>
      <p> story about the first</p>
      <p> before It' was invented! Plus a score of the best tales from a down years of Astounding   Science</p>
      <p> Soft! — The amazing Dr. Cos-tlgan Invented a "needle" thai could mate your hand disappear. So they spent a million dollars to build a BIO one . . . and It made a whole MAN disappear! The  SECOMI fOUNOATiON by Itaac  Kilmer—The terrible genius called the "Mule" had conquered almost the entire Galaxy.  Only  one  civilization</p>
      <p> ■  at</p>
      <p> a secret project When your girl becomes suspicious of your employees, they kidnap her. Then your plane Is swallowed up In mld-alr by a GIANT FLYING    SAUCER!</p>
      <p> strange creatures from Outer Space (disguised as human beings) infiltrate Earth's society  to prepare  the  way  for</p>
      <p></p>
      <p></p>
      <p class="illus">
        <img src="images/picture53.jpg" alt="picture53"/>
      </p>
      <p> D. Slmak  — They egged Bob Vlckers i help destroy the -----nt*'"    —    a</p>
      <p> f, Clarke  — You're _. :ar(h-Man to rocket-crash into the wild Martian desert -the first to find yourself face-to-face with  —  a  living</p>
      <p> MA</p>
      <p> riANi</p>
      <p> ,  bv ■</p>
      <p> strani</p>
      <p> with        mystericui   ..       ,.      (      osy     ,  ; hP ', T1 ii;K.ii</p>
      <p> powers. But then Bob   nlanels   In   Inter-steilar   space</p>
      <p> SIU^S £u£&amp;,   Fs   inhabited   "our job 1? to</p>
      <p> self  was  a  mutant!   flnd    M    whith    one   a(llJ   eon .</p>
      <p> t  :: i ■      island   tact    these    "humans."    But</p>
      <p> f«RTM    bx Raymond   they're ready with- every trick</p>
      <p> T. Jones—You're an   In     Inter-stellar     science     to</p>
      <p> engineer working on   STOP YOU!</p>
      <p> At Cast !  a  Book Club That Brings the BEST "Literature of Tomorrow" to the Imaginative Readers of TODAY!-</p>
      <p> r. ' J! I N ! i.imUUIJM.lJ f</p>
      <p> THE founding of this SCIENCE-FICTION BOOK CLUB is a recognition of the fact that Science-Fiction has won a place as an important new kind of literature-that it is a valuable addition to the library of every imaginative reader. Science-Fiction has grown so fast it*s hard to keep up with it! How is one to know which are the BEST new Science-Fiction books-with-out wasting a lot of time and money wading   through   good   and   bad   alike?</p>
      <p> The SCIENCE-FICTION BOOK CLUB selects each month the best-and only the bett  new Science-Fie (ion boo*. And to enable you to ENJOY the finest without worrying about the cost, the v-lub brings you the brand-new fult-length booki EACH     (plus    a    te«</p>
      <p> charge)—even  though  they cost  SJ.50. $2.75   and   up   in   publishers"   original</p>
      <p> Each selection is described well IN ADVANCE, in the Club's interesting free bulletin, "Things to Come." You take ONLY those books you really want-as  few  as four   a  year,   if you</p>
      <p> SEND  NO   MONEY</p>
      <p> We know that you will enjoy membership In this unusual new book club. TO PROVE It we are making this amazing after to new members! Your cholee ot AMY 3 of the * new Science-Fiction masterpiece* (described above)—AT ONLY fl FOR ALL THREE. Two books are your gift (or Joining and one Is your first Club selection This liberal offer may have to be with-- —I time. So mall coupon RIGHT</p>
      <p> ftiisunrfini Anihalair C.illacm'i N.tdi. Mind Men</p>
      <p> World 0-1 of Mmd</p>
      <p></p>
    </div>
  </body>
</html>
